[submodule "Back-End"]
	path = Back-End
	url = https://github.com/Normal-OJ/Back-End.git
[submodule "Sandbox"]
	path = Sandbox
	url = https://github.com/Normal-OJ/Sandbox.git
[submodule "new-front-end"]
	path = new-front-end
	url = git@github.com:Normal-OJ/new-front-end.git
