localhost:8080 {
	proxy / vue:8080 {
		transparent
	}
	proxy /api web:8080 {
		transparent
		without /api
	}
}

localhost:8081 {
	proxy / mongo-express:8081
}

noj.tw {
 	tls admin@noj.tw
	proxy / vue:8080 {
		transparent
	}
    proxy /api web:8080 {
 		transparent
 		without /api
 	}
}

mongo.noj.tw {
 	tls admin@noj.tw
	proxy / mongo-express:8081
}