{
	auto_https disable_redirects
}

:8080 {
	log {
		output stdout
	}
	@vue {
		not {
			path /api/*
		}
	}
	reverse_proxy @vue vue:8080
	route /api/* {
		uri strip_prefix /api
		reverse_proxy web:8080
    }
}

:8081 {
	reverse_proxy mongo-express:8081
}
