{
	auto_https disable_redirects
}

:8080 {
	log
	metrics /metrics
	# backend API
	handle_path /api/* {
	 	reverse_proxy web:8080
	}
	# frontend dev server
	reverse_proxy vue:8080
}

:8081 {
	reverse_proxy mongo-express:8081
}
